.my-card-img {
    width: 262px;
    height: 393px;
}

.my-card {
    margin-left: 15px;
    margin-top: 10px;
}

.my-accordion {
    position: fixed;
    margin-top: 15px;
    min-width: 250px;
}
.my-accordion-body {
    max-height: 400px;
    overflow: scroll;
}

.my-form-check {
    max-width: 200px;
}

.btn-accordion {
    margin-top: 10px;
}

.my-card-img-big {
    width: 362px;
    height: 493px;
}

.body-film {
    padding-left: 100px;
}

.film {
    margin-top: 50px;
}

.back-btn {
    margin-top: 20px;
}

.rating-area {
	overflow: hidden;
	width: 265px;
    margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
